.cell {
    width: 50px;
    height: 50px;
    outline: 1px solid gray;
    display: flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
}

.hit {
    background-color: red;
    outline: transparent;
}

.ship {
    outline: transparent;
    background: rgba(0, 0, 0, 0.1);
}