.panel {
    display: block;
    margin-bottom: 20px;
    align-self: center;
}

.button {
    font-size: 14px;
    background: white;
    padding: 3px 10px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.button:active {
    color: black;
    background: rgb(228, 228, 228);
}

.victoryText {
    content: ' ';
    height: 17px;
    margin-top: 10px;
    text-align: center;
}