@media only screen and (max-height: 600px) {
    .App {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .battleground {
        width: 500px;
        height: 500px;
    }
}

@media only screen and (max-width: 600px) {
    .battleground {
        width: 95vw;
        height: 95vw;
    }

    .cell {
        width: calc(95vw/10);
        height: calc(95vw/10);
    }
}